.App-logo {
  max-height: 40px;
  max-width: 400px;
}

.navbar-collapse {
  flex-grow: 0!important;
}

.App-logo-small {
  max-height: 40px;
  max-width: 40px;
}

@font-face {
  font-family: 'SiteFont';
  src: url('./fonts/PierSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: SiteFont;
}

@media (min-width:992px) {
  .form-control {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 50%;
  }
}

.form-label {
  padding-top: 10px;
}

@media (min-width:700px) {
.form-control {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  }
}

.footer {
  border-top: 1px solid rgba(142, 142, 142, 0.25);
  position: fixed;
  bottom: 0;
  color: rgba(142, 142, 142, 0.25);;
  text-align: center;
  font-size: 10px;
  left: 5%;
  right: 5%;
}